# macOS cache files
.DS_Store

# Windows thumbnail cache files
Thumbs.db

# TinCad backup files
.dsn.autosave

# Ignore directory with old versions
/00_old/
/extras/docs/00_old/

# Ignore document directory
/01_doc/

# Ignore some sketches
/src/src.ino

# Komodo files
*.komodoproject
/.komodotools/
