# macOS cache files
.DS_Store

# Windows thumbnail cache files
Thumbs.db

# TinyCad backup files
*.dsn.autosave

# Ignore directory with old versions
/00_old/

# Ignore document directory
/01_doc/

# Ignore withdrawn documents
/02_withdrawn/

# Ignore some sketches
/src/src.ino
/src/main.cpp

# Komodo files
*.komodoproject
/.komodotools/

# PlatformIO
.pio
.vscode
*.code-workspace